*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  transition: 0.5s;
  scroll-behavior: smooth;
  color: white;
  scroll-padding-top: 150px;
}

/* fonts */
@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Press_Start";
  src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

/* container */
.container{
  max-width: 1400px;
  margin: 0 auto;
}

/* scroll off */
::-webkit-scrollbar {
  width: 0;
}

/* button to top */
.btn_to_top {
  padding: 20px 23px;
  background-color: transparent;
  position: fixed;
  right: 30px;
  bottom: 40px;
  z-index: 100000;
  border-radius: 15px;
  stroke: white;
  border: 2px solid white;
}

/* block title */
.about h2, .advant h2, .sales h2, .reviews h2{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
  background: linear-gradient(90deg, #FF4548 0%, #FF743B 100%);
  width: max-content;
  background-clip: text;
  color: transparent;
}

/* buttons design */
.btn{
  padding: 18px 40px;
  border: 2px solid white;
  font-family: "Press_Start", sans-serif;
  text-decoration: none;
  font-size: 16px;
  background-color: white;
  color: black;
  border-radius: 10px;
  cursor: crosshair;
}

.btn:hover {
  color: white;
  background-color: transparent;
}

/* margin between blocks */
.mt140 {
  margin-top: 140px;
}

/* header */
header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10000;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 70px;
}

header nav a {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Press_Start", sans-serif;
}

header nav a:hover {
  transform: translateY(-5px);
  color: #FBBB43;
}

.head_btns .basket:hover{
  transform: translateY(-5px);
}

.head_btns {
  display: flex;
  align-items: center;
  gap: 32px;
}
/* header */

/* landing's background-color */
section {
  background-color: #171313;
}

/* banner start */
main {
  width: 100%;
  position: relative;
}

main{
  background: url(../images/banner/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 260px;
}

.banner h1 {
  color: #FBBB43;
  text-transform: uppercase;
  font-size: 96px;
  text-align: center;
}

.banner p {
  margin: 40px 0 100px 0;
  font-weight: 400;
  font-size: 21px;
}

.banner_info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 80px;
  gap: 330px;
}

.banner .right{
  display: flex;
  gap: 20px;
  position: relative;
}

.banner .right h3{
  position: absolute;
  left: -80px;
  z-index: 5;
  rotate: -90deg; height: 20px;
  transform: translate(-50%,-50%);
}

.banner_card{
  background-size: cover;
  background-repeat: no-repeat;
  height: 355px;
  width: 206px;
  position: relative;
  overflow: hidden;
}

.banner_card .price, .banner_card p{
  position: absolute;
  left: 15px;
}

.banner_card p{
  font-weight: 400;
  font-size: 18px;
  top: 192px;
}

.banner_card .price{
  display: flex;  
  align-items: center;
  top: 288px;
}

.banner_card h4{
  font-weight: 700;
  font-size: 24px;
  color: rgba(251, 187, 67, 1);
}

.in_basket{
  width: 300px;
  height: 355px;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  cursor: pointer;
}

.in_basket p{
  padding: 10px 20px;
  background-color: #FBBB43;
  color: black;
  border-radius: 10px;
  top: 120px;
  left: 38px;
  font-weight: 700;
}

.in_basket:hover{
  opacity: 1;
}

.banner_card h5{
  font-weight: 700;
  font-size: 20px;
  padding: 13px 10px;
  margin-left: 35px;
  background: linear-gradient(90deg, #FF4548 -14.38%, #FF743B 108.22%);
  border-radius: 10px;
}
/* banner end */

/* catalog */
.cat_items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 65px;
}

.catalog h2{
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(90deg, #FF4548 0%, #FF743B 100%);
  width: max-content;
  background-clip: text;
  color: transparent;
}

.catalog .sort{
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  align-items: flex-end;
}

.catalog .sort select{
  border: none;
  background-color: transparent;
  font-family: "Press_Start", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 15px 20px;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 10px;
}

.catalog .sort option{
  font-family: "Press_Start", sans-serif;
  font-weight: 400;
  font-size: 12px;
  width: 100px;
  border: none;
  background-color: black;
  text-transform: uppercase;
  padding: 15px 20px;
}

.catalog .btn{
  margin-left: 564px;
}

.cat_card{
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.cat_card h3{
  font-weight: 400;
  font-size: 24px;
  position: absolute;
  top: 80%;
  z-index: 100;
  left: 20px;
  top: 270px;
}

.cat_card .cat_price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  bottom: 35px;
  left: 20px;
  right: 20px;
  border-radius: 10px;
}

.cat_card p{
  color: #FBBB43;
  font-weight: 700;
  font-size: 32px;
}

.cat_card .cat_price h5{
  font-weight: 700;
  font-size: 20px;
  padding: 13px 10px;
  margin-left: 35px;
  background: linear-gradient(90deg, #FF4548 -14.38%, #FF743B 108.22%);
  border-radius: 10px;
  width: 73px;
}

.in_basket{
  width: 300px;
  height: 418px;
  position: absolute;
  z-index: 110;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  cursor: pointer;
}

.in_basket h6{
  padding: 10px 20px;
  width: 135px;
  background-color: #FBBB43;
  color: black;
  border-radius: 10px;
  margin-top: 185px;
  font-size: 18px;
  margin-left: 76px;
  font-weight: 700;
}

.in_basket:hover{
  opacity: 1;
}
/* catalog */

/* about */
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 182px;
}

.about p{
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 53px;
}
/* about */

/* advant */
.advant {
  margin-bottom: 150px;
}

.advant_items {
  display: flex;
  justify-content: space-between;
}

.advant_card {
  width: 320px;
  height: 220px;
  padding: 35px 0 20px 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid #3F3939;
}

.advant_icons {
  transition: 1.5s;
}

.advant_icons:hover {
  transform: rotate(360deg);
  transition: 1.5s;
}

.advant_card p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FBBB43;
}
/* advant */

/* sales */
.sales {
  margin-top: 140px;
}

.sales p {
  font-size: 28px;
  font-family: "Rubik", sans-serif;
  color: #E7E7E7;
  padding: 40px;
  font-weight: 700;
}

.sales_items {
  display: flex;
  justify-content: space-between;
}

.sales .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sale1 {
  background: url(../images/sales/1.png);
  background-size: cover;
  width: 765px;
  height: 351px;
}

.sale2 {
  background: url(../images/sales/2.png);
  background-size: cover;
  width: 765px;
  height: 169px;
}

.sales .right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right_sale {
  background: url(../images/sales/4.png);
  background-size: cover;
  width: 605px;
  height: 260px;
}

.right_sale2 {
  background: url(../images/sales/3.png);
  background-size: cover;
  width: 605px;
  height: 260px;
}

.sale1:hover,
.sale2:hover,
.right_sale:hover,
.right_sale2:hover {
  transform: scale(.95);
  cursor: pointer;
}
/* sales */

/* reviews */
.reviews {
  position: relative;
  overflow: hidden;
  scroll-padding-top: 1000px;
}

.slides {
  display: flex;
  flex-wrap: nowrap;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}

.review{
  width: 420px;
  height: 250px;
  padding: 40px 35px;
  border: 2px solid white;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  gap: 30px;
}

.reviews_info{
  display: flex;
  align-items: center;
  gap: 30px;
}

.review h3{
  font-weight: 700;
  font-size: 24px; 
}

.review p{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.review .stars{
  display: flex;
  gap: 10px;
  align-items: center;
}

input[name="r"] {
  display: none;
}

.reviews_info .name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.review h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  color: #FBBB43;
}

.reviews nav {
  position: absolute;
  left: 38.5%;
  bottom: 30px;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.reviews nav label {
  width: 50px;
  height: 8px;
  background-color: #E7E7E7;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
}

.reviews nav label:hover {
  transform: scale(1.1);
  opacity: 1;
}

.reviews nav label:active {
  opacity: 1;
}

.reviews nav label:focus {
  opacity: 1;
}

#r1:checked~.sl {
  margin-left: 0;
}

#r2:checked~.sl {
  margin-left: -20%;
}

#r3:checked~.sl {
  margin-left: -40%;
}

#r4:checked~.sl {
  margin-left: -60%;
}

#r5:checked~.sl {
  margin-left: -80%;
}
/* reviews */

/* email */
.email{
  background: url(../images/email/email.png);
  padding: 80px 100px 70px 100px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.email .first{
  display: flex;
  margin-bottom: 60px;
}

.email .left{
  display: flex;
  flex-direction: column;
}

.email .mail{
  margin-bottom: 40px;
}

.line1{
  margin: 10px 80px 0px 100px;
}

.email .mail, .email .phone{
  display: flex;
  align-items: center;
}

.email h3{
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 50px;
}

.email .first h4{
  font-weight: 700;
  font-size: 24px;
  margin: 0px 50px 0px 30px;
}

.email p, .email a{
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
}

.email .right{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email .right .tg{
  margin-bottom: 20px;
}

.email .right .tg, .email .right .vk{
  cursor: pointer;
  width: 260px;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 13px 25px;
  border: 2px solid white;
}

.email .right .tg:hover, .email .right .vk:hover{
  transform: translateY(-5px);
}

.email .second{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.email .second h4{
  font-size: 24px;
  font-weight: 700;
}

.email .second a{
  width: 550px;
  text-align: center;
  padding: 22px 0;
  border: 2px solid white;
  font-family: "Press_Start", sans-serif;
  text-decoration: none;
  font-size: 16px;
  background-color: white;
  color: black;
  border-radius: 10px;
  cursor: crosshair;
}

.email .second a:hover {
  color: white;
  background-color: transparent;
}
/* email */

/* footer */
footer {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.footer_columns {
  display: flex;
  justify-content: space-between;
}

.footer_columns h4 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 6px;
  position: relative;
  color: #FBBB43;
}

.first_column .footer_icons {
  margin-top: 48px;
  display: flex;
  gap: 35px;
}

.second_column,
.third_column,
.fourth_column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.second_column a,
.third_column a,
.fourth_column a {
  font-size: 20px;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

.footer_icons svg:hover,
.second_column a:hover,
.third_column a:hover,
.fourth_column a:hover {
  transform: scale(1.1);
}

.footer_info {
  display: flex;
  justify-content: space-between;
}

.footer_info p {
  font-size: 16px;
  font-weight: 300;
}

.footer_info a {
  font-size: 16px;
  color: #FBBB43;
}

.footer_info a:hover{
  transform: scale(1.1);
}

.footer_info .documents p:hover {
  transform: translateY(-10px);
}
/* footer */